<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Todoist Review</title>
    <link href="~/css/reviewapp.min.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" href="/images/icon.ico" type="image/x-icon"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Review">
    <meta name="apple-mobile-web-app-title" content="Review">
    <meta name="theme-color" content="#03a6ff">
    <meta name="msapplication-navbutton-color" content="#03a6ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="256x256" href="/images/icon.png">
    <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="/images/icon.png">
    <style type="text/css">
        /* essential styles to be used before external stylesheet and scripts load */
        .hidden-by-default {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>
