
@{
    ViewBag.Title = "Index";
}

<div data-bind="if: !loaded()" class="hidden-by-default">
    <h2>Loading...</h2>
    <p class="definition p4"><b>ASAP</b> => Visible all the time</p>
    <p class="definition p3"><b>The sooner, the better</b> => Visible in the context, top of the list</p>
    <p class="definition p2"><b>No hurry</b> => Visible in the proper context</p>
</div>

<h4 data-bind="if: loaded() && ajaxError()" class="hidden-by-default">Synchronization failed. Make sure, that your API key is valid. @Html.ActionLink("Click here to login again", "Login").</h4>
<div id="all-done" data-bind="if: loaded() && !ajaxError() && tasks().length == 0" class="hidden-by-default">
    <h2>All done!</h2>
    <p>All your tasks are in a good shape already :)</p>
    <p>You might reload page if you think something new might have appeared.</p>

    <button id="reload" type="button" class="btn btn-primary btn-lg">Reload page</button>
</div>
<div class="reviewedTask hidden-by-default" data-bind="if: loaded() && !ajaxError() && tasks().length !== 0">

    <div class="task" data-bind="with: currentTask">
        <textarea data-bind="value: content, autosize: true" class="content-box"></textarea>
        <strong class="time-inline-result" data-bind="if: $root.timeEstimateReviewNeeded(), css: { highlighted: time() != 0 }"><span data-bind="text: timeFormatted"></span></strong>
        <span data-bind="if: $root.timeEstimateReviewNeeded()">
            <br />
            <span class="time time-inline" data-time-to-add="1">+1 min</span>
            <span class="time time-inline" data-time-to-add="5">+5 min</span>
            <span class="time time-inline" data-time-to-add="15">+15 min</span>
            <span class="time time-inline time-inline-reset" data-time-to-add="0">0 (reset)</span>
        </span>
    </div>

    <h4 data-bind="if: labels().length == 0">You have no labels defined. Define your contexts as labels in Todoist first.</h4>

    <div class="row" data-bind="with: currentTask">
        <div data-bind="if: $root.priorityReviewNeeded()">
            <div class="col-xs-3">
                <div class="priority priority-1 glyphicon glyphicon-flag" data-bind="css: { selected: priority === 1 }" data-priority="1"></div>
            </div>
            <div class="col-xs-3">
                <div class="priority priority-2 glyphicon glyphicon-flag" data-bind="css: { selected: priority === 2 }" data-priority="2"></div>
            </div>
            <div class="col-xs-3">
                <div class="priority priority-3 glyphicon glyphicon-flag" data-bind="css: { selected: priority === 3 }" data-priority="3"></div>
            </div>
            <div class="col-xs-3">
                <div class="priority priority-4 glyphicon glyphicon-flag" data-bind="css: { selected: priority === 4 }" data-priority="4"></div>
            </div>
        </div>
    </div>

    <div class="all-labels row" data-bind="foreach: labels">
        <div class="col-xs-4">
            <div class="label" data-bind='attr: {"data-id": id}, css: name'>
                <span data-bind="css: glyphicon" class="glyphicon"></span><br/>
                <span data-bind="text: name"></span>
            </div>
        </div>
    </div>

    <nav class="footer row">
        <div class="col-xs-4">
            <button id="back" type="button" class="btn btn-lg" data-bind="enable: isFirstTask() === false">Back</button>
        </div>
        <div class="col-xs-8" data-bind="visible: isLastTask() === false">
            <button id="save" type="button" class="btn btn-primary btn-lg" data-bind="enable: isLastTask() === false">Next</button>
        </div>
        <div class="col-xs-8" data-bind="visible: isLastTask() === true">
            <button id="sync" type="button" class="btn btn-info btn-lg">Sync</button>
        </div>
    </nav>
    
    <p class="reload-page"><a onclick="location.reload();">Reload page</a> | <a id="show-all-sections">Show all sections</a></p>
</div>

<script src="~/lib/jquery-3.4.1.min.js"></script>
<script src="~/lib/autosize.min.js"></script>
<script src="~/lib/knockout-3.5.1.js"></script>
<script src="~/js/reviewapp.js?v=5"></script>
<script type="text/javascript">
        $(".hidden-by-default").removeClass("hidden-by-default");
</script>
