@model TodoistAuthData

@{
    ViewBag.Title = "Login";
}

<div class="jumbotron jumbotron-login">

    <form class="form-inline" autocomplete="on">
        Enter API token to log in:
        <div class="form-group">
            @Html.EditorFor(model => model.ApiToken, new {htmlAttributes = new {@class = "form-control", placeholder = "Todoist API Token"}})
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>

<p>API access for your Todoist account is available for Todoist Premium users. you can find it in settings</p>

<p>Please note that this token should be treated with similar care as your passwords, as it allows to access all your Todoist data via API.</p>
