<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Todoist Review</title>
    <link href="~/Content/reviewapp.min.css?v=2" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        /* essential styles to be used before external stylesheet and scripts load */
        .hidden-by-default {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>