body {
  overscroll-behavior: contain;
}
.reviewedTask .task {
  padding: 7px 5px 3px 5px;
  font-size: large;
  text-align: center;
}
.reviewedTask .task-description {
  font-style: italic;
  font-size: 16px;
}
.reviewedTask .question {
  display: none;
}
.reviewedTask .all-labels {
  margin-top: 10px;
}
.reviewedTask .all-labels .label {
  display: inline-block;
  width: 100%;
  padding: 30px;
  border: 1px solid #AAAAAA;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 100%;
}
.reviewedTask .all-labels .label.label-selected {
  background-color: #2ECC40;
  border: 1px solid #29b739;
}
.reviewedTask .all-labels .label.label-selected:hover {
  background-color: #40d451;
}
.reviewedTask nav.footer {
  margin-top: 15px;
}
.reviewedTask nav.footer div {
  padding: 2px;
}
.reviewedTask nav.footer div button {
  width: 100%;
}
.priority {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid transparent;
}
.priority.selected {
  border: 2px solid transparent;
}
.priority.priority-1 {
  color: #ffffff;
  border-color: #ffffff;
}
.priority.priority-1.selected {
  box-shadow: 0px 0px 13px #ffffff;
}
.priority.priority-2 {
  color: #4073D6;
  border-color: #4073D6;
  background: #273339;
}
.priority.priority-2.selected {
  box-shadow: 0px 0px 13px #4073D6;
}
.priority.priority-3 {
  color: #f88900;
  border-color: #f88900;
  background: #393327;
}
.priority.priority-3.selected {
  box-shadow: 0px 0px 13px #f88900;
}
.priority.priority-4 {
  color: #dc1010;
  border-color: #dc1010;
  background: #392727;
}
.priority.priority-4.selected {
  box-shadow: 0px 0px 13px #dc1010;
}
.time {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.time-inline {
  padding: 10px;
  border: 2px solid #AAAAAA;
  display: inline-block;
  margin-top: 4px;
}
.time-inline-reset {
  color: darkred;
}
.time-inline-result {
  background-color: transparent;
}
.time-inline-result.highlighted {
  background-color: green;
}
.hidden-by-default {
  display: none;
}
.jumbotron-login,
.jumbotron-loading {
  margin-top: 20px;
}
.reload-page {
  margin-top: 30px;
  text-align: center;
}
.content-box {
  width: 100%;
}
.definition {
  padding: 8px 7px;
  border: 1px solid transparent;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}
.definition.p1 {
  border-color: #333333;
  background-color: rgba(51, 51, 51, 0.1);
  color: #333333;
}
.definition.p2 {
  border-color: #4073D6;
  background-color: rgba(64, 115, 214, 0.1);
  color: #4073D6;
}
.definition.p3 {
  border-color: #f88900;
  background-color: rgba(248, 137, 0, 0.1);
  color: #f88900;
}
.definition.p4 {
  border-color: #dc1010;
  background-color: rgba(220, 16, 16, 0.1);
  color: #dc1010;
  margin-top: 10px;
}