// color definitions
@selectedLabelBackground: #2ECC40;

body {
    overscroll-behavior: contain; // this should prevent the "refresh" action on mobile devices, which often causes loss of reviewed data
}

.reviewedTask {
    .task {
        padding: 7px 0 3px 0;
        font-size: large;
        text-align: center;
    }

    .task-description {
        font-style: italic;
        font-size: 16px;
    }

    .question {
        display: none;
    }

    .all-labels {
        margin-top: 10px;

        .label {
            display: inline-block;
            width: 100%;
            padding: 30px;
            border: 1px solid #AAAAAA;
            text-align: center;
            cursor: pointer;
            margin-top: 10px;
            font-size: 100%;

            &.label-selected {
                background-color: @selectedLabelBackground;
                border: 1px solid darken(@selectedLabelBackground, 5);

                &:hover {
                    background-color: lighten(@selectedLabelBackground, 5);
                }
            }
        }
    }

    nav.footer {
        margin-top: 15px;

        div {
            padding: 2px;

            button {
                width: 100%;
            }
        }
    }
}

.priority {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: larger;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;


    @p1Color: #ffffff;
    @p2Color: #4073D6;
    @p3Color: #f88900;
    @p4Color: #dc1010;

    // make selection more clearly visible in Android's dark content mode - delicate outline was not enough, border needed
    @borderSize: 2px;
    border: @borderSize solid transparent;

    &.selected {
        border-bottom: 10px solid;
    }

    &.priority-1 {
        // lowest, "natural" priority
        color: @p1Color;
        border-color: rgba(255,255,255,0.3);
    }

    &.priority-2 {
        color: @p2Color;
        border-color: @p2Color;
        background: #273339;
    }

    &.priority-3 {
        color: @p3Color;
        border-color: @p3Color;
        background: #393327;
    }

    &.priority-4 {
        color: @p4Color;
        border-color: @p4Color;
        background: #392727;
    }
}




.hidden-by-default {
    display: none;
}

.jumbotron-login, .jumbotron-loading {
    margin-top: 20px;
}

.reload-page {
    margin-top: 30px;
    text-align: center;
}

.content-box {
    width: 100%;
}

.definition {
    @p1Color: #333333;
    @p2Color: #4073D6;
    @p3Color: #f88900;
    @p4Color: #dc1010;

    padding: 8px 7px;
    border: 1px solid transparent;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;

    &.p1 {
        border-color: @p1Color;
        background-color: fade(@p1Color, 10%);
        color: @p1Color;
    }

    &.p2 {
        border-color: @p2Color;
        background-color: fade(@p2Color, 10%);
        color: @p2Color;
    }

    &.p3 {
        border-color: @p3Color;
        background-color: fade(@p3Color, 10%);
        color: @p3Color;
    }

    &.p4 {
        border-color: @p4Color;
        background-color: fade(@p4Color, 10%);
        color: @p4Color;
        margin-top: 10px;
    }
}
