.reviewedTask .task {
  padding: 7px 5px 3px 5px;
  font-size: large;
  text-align: center;
}
.reviewedTask .question {
  color: #AAAAAA;
  display: none;
}
.reviewedTask .all-labels {
  margin-top: 2em;
}
.reviewedTask .all-labels .label {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #AAAAAA;
  text-align: center;
  color: #000000;
  cursor: pointer;
  margin-top: 10px;
  /*&:hover {
                background-color: lighten(@selectedLabelBackground, 5);
                color: #fff;
            }*/
}
.reviewedTask .all-labels .label .glyphicon {
  padding-bottom: 10px;
  display: inline-block;
  font-size: large;
}
.reviewedTask .all-labels .label.label-selected {
  background-color: #2ECC40;
  color: #fff;
  border: 1px solid #29b739;
}
.reviewedTask .all-labels .label.label-selected:hover {
  background-color: #40d451;
}
.reviewedTask nav.footer {
  margin-top: 15px;
}
.reviewedTask nav.footer div {
  padding: 2px;
}
.reviewedTask nav.footer div button {
  width: 100%;
}
.priority {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: larger;
  text-align: center;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}
.priority.priority-1 {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.priority.priority-1.selected {
  box-shadow: 0px 0px 5px #000000;
}
.priority.priority-2 {
  color: #d4b300;
  border-color: #d4b300;
  background-color: #fffdf4;
}
.priority.priority-2.selected {
  box-shadow: 0px 0px 5px #d4b300;
}
.priority.priority-3 {
  color: #f88900;
  border-color: #f88900;
  background-color: #fff0de;
}
.priority.priority-3.selected {
  box-shadow: 0px 0px 5px #f88900;
}
.priority.priority-4 {
  color: #dc1010;
  border-color: #dc1010;
  background-color: #ffe7e7;
}
.priority.priority-4.selected {
  box-shadow: 0px 0px 5px #dc1010;
}
.hidden-by-default {
  display: none;
}
.jumbotron-login,
.jumbotron-loading {
  margin-top: 20px;
}